<input type="hidden" name="magicLinkToken" value="{{magicLinkToken}}" x-ref="magicLinkToken">
<div class="form-group">
    <label for="eventGroupName">{{t "common.eventgroupname" }}</label>
    <input type="text" class="form-control" id="eventGroupName" name="eventGroupName" placeholder="{{t "views.partials.snappy" }}" x-model="data.eventGroupName">
</div>
<div class="form-group">
    <label for="eventGroupDescription">{{t "views.partials.eventgroupform.eventgroupddesc" }}</label>
    <textarea class="form-control" id="eventGroupDescription" name="eventGroupDescription" x-model="data.eventGroupDescription">{{eventGroupData.description}}</textarea>
    <small class="form-text">{{{t "views.partials.mdsupport" }}}</small>
</div>
<div class="form-group">
    <label for="eventGroupURL">{{t "views.partials.eventgroupform.eventgroupurl" }}</label>
    <input type="url" class="form-control" id="eventGroupURL" name="eventGroupURL" placeholder="https://example.com" x-model="data.eventGroupURL">
    <small class="form-text">{{t "views.partials.eventgroupform.eventgroupurldesc" }}</small>
</div>
<div class="form-group">
    <label for="hostName">{{t "views.partials.eventgroupform.hostname" }}</label>
    <input type="text" class="form-control" id="eventGroupHostName" name="hostName" placeholder="{{t "views.partials.eventgroupform.isshowningroup" }}"  x-model="data.hostName">
</div>
<div class="form-group">
    <label for="creatorEmail">{{t "views.partials.eventgroupform.creatoremail" }}</label>
    <div class="form-group">
        <input type="email" class="form-control" id="eventGroupCreatorEmail" name="creatorEmail" placeholder="{{t "views.partials.wontshow" }}" x-model.fill="data.creatorEmail" {{#if creatorEmail}}value="{{creatorEmail}}" readonly{{/if}}>
        <small class="form-text">{{t "views.partials.creatoremaildesc" }}</small>
    </div>
</div>
<div class="form-group">
    <label>{{t "common.coverimg" }}</label>
    <div class="image-preview" id="group-image-preview">
        <label for="eventGroupImageUpload" id="group-image-label">{{t "views.partials.choosefile" }}</label>
        <input type="file" name="imageUpload" id="group-image-upload" accept="image/jpeg,image/gif,image/png" x-ref="eventGroupImageUpload"/>
    </div>
    <small class="form-text">{{t "views.partials.recommendeddimensions" }}</small>
</div>
<div class="form-group">
  <label>Repeating schedule</label>
  <div class="form-check mb-2">
    <input class="form-check-input" type="checkbox" id="recurrenceEnabled" name="recurrenceEnabled" x-model="data.recurrenceEnabled">
    <label class="form-check-label" for="recurrenceEnabled">This is a recurring series</label>
  </div>
  <div x-show="data.recurrenceEnabled" x-cloak>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="recurrenceFrequency">Frequency</label>
        <select class="form-control" id="recurrenceFrequency" name="recurrenceFrequency" x-model="data.recurrenceFrequency">
          <option value="weekly">Weekly</option>
          <option value="biweekly">Every two weeks</option>
          <option value="monthly">Monthly</option>
        </select>
      </div>
      <div class="form-group col-md-4" x-show="data.recurrenceFrequency === 'weekly' || data.recurrenceFrequency === 'biweekly'">
        <label for="recurrenceDayOfWeek">Day of week</label>
        <select class="form-control" id="recurrenceDayOfWeek" name="recurrenceDayOfWeek" x-model="data.recurrenceDayOfWeek">
          <option value="0">Sunday</option>
          <option value="1">Monday</option>
          <option value="2">Tuesday</option>
          <option value="3">Wednesday</option>
          <option value="4">Thursday</option>
          <option value="5">Friday</option>
          <option value="6">Saturday</option>
        </select>
      </div>
      <div class="form-group col-md-4" x-show="data.recurrenceFrequency === 'monthly'">
        <label for="recurrenceMonthlyType">Repeats on</label>
        <select class="form-control" id="recurrenceMonthlyType" name="recurrenceMonthlyType" x-model="data.recurrenceMonthlyType">
          <option value="day-of-month">A specific date (e.g. the 15th)</option>
          <option value="nth-weekday">A day of the week (e.g. first Tuesday)</option>
        </select>
      </div>
      <div class="form-group col-md-4" x-show="data.recurrenceFrequency === 'monthly' && data.recurrenceMonthlyType === 'day-of-month'">
        <label for="recurrenceDayOfMonth">Day of month</label>
        <input type="number" class="form-control" id="recurrenceDayOfMonth" name="recurrenceDayOfMonth" min="1" max="31" x-model="data.recurrenceDayOfMonth">
      </div>
      <template x-if="data.recurrenceFrequency === 'monthly' && data.recurrenceMonthlyType === 'nth-weekday'">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="recurrenceNth">Which occurrence</label>
            <select class="form-control" id="recurrenceNth" name="recurrenceNth" x-model="data.recurrenceNth">
              <option value="1">First</option>
              <option value="2">Second</option>
              <option value="3">Third</option>
              <option value="4">Fourth</option>
              <option value="-1">Last</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="recurrenceNthDayOfWeek">Day of week</label>
            <select class="form-control" id="recurrenceNthDayOfWeek" name="recurrenceNthDayOfWeek" x-model="data.recurrenceNthDayOfWeek">
              <option value="0">Sunday</option>
              <option value="1">Monday</option>
              <option value="2">Tuesday</option>
              <option value="3">Wednesday</option>
              <option value="4">Thursday</option>
              <option value="5">Friday</option>
              <option value="6">Saturday</option>
            </select>
          </div>
        </div>
      </template>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="recurrenceTime">Start time</label>
        <input type="time" class="form-control" id="recurrenceTime" name="recurrenceTime" x-model="data.recurrenceTime">
      </div>
      <div class="form-group col-md-4">
        <label for="recurrenceDurationMinutes">Duration (minutes)</label>
        <input type="number" class="form-control" id="recurrenceDurationMinutes" name="recurrenceDurationMinutes" min="1" x-model="data.recurrenceDurationMinutes">
      </div>
      <div class="form-group col-md-4">
        <label for="recurrenceTimezone">Timezone</label>
        <select class="select2 form-control" id="recurrenceTimezone" name="recurrenceTimezone" x-ref="recurrenceTimezone"></select>
      </div>
    </div>
  </div>
</div>
{{#if showPublicEventList}}
  <div class="form-group">
    <label>{{{t "views.partials.eventgroup.options" }}}</label>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="publicGroupCheckbox" name="publicCheckbox" x-model="data.publicCheckbox">
      <label class="form-check-label" for="publicGroupCheckbox">
        {{t "views.partials.eventgroupform.publicgroup" }}
      </label>
    </div>
  </div>
{{/if}}
<div class="form-group">
  <div class="col-12">
    <div
      class="alert alert-danger"
      role="alert"
      x-show="errors.length > 0"
    >
      <p><i class="fas fa-exclamation-triangle"></i> {{t "views.partials.fixerrors" }}</p>
      <ul>
        <template x-for="error in errors">
          <li x-html="error.message"></li>
        </template>
      </ul>
    </div>
  </div>
</div>
